
body{
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(ooty.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.login-page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}
.form{
    position: relative;
    z-index:  1;
    background: rgba(209, 201, 201, 0.931);
    max: width 360px; ;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 24px;

}

.user{

    border-radius: 24px;
}

.pass{
    border-radius: 24px;
}
.email{
    border-radius: 24px;
}
#button{
    border-radius: 24px;
}
.form input{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     outline: 1;
     background: #f2f2f2;
     border: 0;
     margin: 0 0 15px;
     padding: 15px;
     box-sizing: border-box;
     font-size: 15p;
}
.form button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4caf50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
.message{
    color: aliceblue;
}
.form button:hover,.form button:active {
    
    background: #43a047;
}
.form .message {
    margin: 15px 0 0;
    color: rgb(66, 41, 107);
    font-size: 12px;
}
.form .message a{
    color:#3610c0;
    text-decoration:double;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;

}
.form .regester-form{
    display: none;
}
.name{
    border-radius: 24px;
}
.password{
    border-radius: 24px;
}
.form .button {
    border-radius: 24px;
}